@model IEnumerable<QLST.Models.MarketEntities.DetailProduct>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Madein)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NutriousInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProducedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiredDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Madein)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NutriousInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProducedTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpiredDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.No }) |
            @Html.ActionLink("Details", "Details", new { id=item.No }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.No })
        </td>
    </tr>
}

</table>
