@model QLST.Models.MarketEntities.DetailReceipt

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DetailReceipt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReceiptDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiptDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductAmmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductAmmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDReceipt }) |
    @Html.ActionLink("Back to List", "Index")
</p>
