@model IEnumerable<QLST.Models.MarketEntities.DetailProduct>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    
</p>
<table class="table">
    <tr>
        @**Display title of that product in Front-End*@
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        
        @*Display description of that product in Front-End*@
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        @*For customers only so therefore it is only available button Detail.*@
        
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        
        <td>
            
            @Html.ActionLink("Tìm hiểu thêm", "Details", new { id=item.No }) 
           
        </td>
    </tr>
}

</table>
