@model IEnumerable<QLST.Models.MarketEntities.Product>

@{
    ViewBag.Title = "SIÊU THỊ 2BHL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GIAN HÀNG 2BHL</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DetailReceipt.IDReceipt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoredCar.Titleofproduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DetailReceipt.IDReceipt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StoredCar.Titleofproduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
           
            @Html.ActionLink("XEM HÀNG HÓA", "Details", new { id=item.IDproduct }) |
           
        </td>
    </tr>
}

</table>
